<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <title>나홀로메모장 | 스파르타코딩클럽</title>
    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }
        /*body {*/
        /*    padding-top: 5px;*/
        /*}*/

        .wrap_all {
            width: 900px;
            margin: auto;
        }


        /*.card_container {*/
        /*    display: flex;*/
        /*    justify-content: center;*/
        /*    margin-bottom: 30px;*/
        /*}*/

        .posting-box{
            display:none;
            padding: 50px;
            width: 500px;
            margin: 0px auto 20px auto;
            border: 3px solid black;
            border-radius: 5px;
        }

        .card {
            margin: auto;
        }

        .card-title{
            color: deepskyblue;
        }

        .comment{
            color: blue;
            font-weight: bold;
        }
        /*.card-columns{*/
        /*    padding-top: 20px;*/
        /*}*/
    </style>
        <script>
        let count = 1;

        $(document).ready(function () {
            $('#cards-box').empty()
            $.ajax({
                type: "GET",
                url: "/memo",
                data: {},
                success: function (response) {
                    // console.log(response)
                    // return false;
                    let rows = response['memos'];
                    for(let i = 0; i< rows.length; i++){
                        let imgurl = rows[i]['imageUrl']
                        let linkurl = rows[i]['url']
                        let title = rows[i]['title']
                        let desc = rows[i]['synopsis']
                        let comment = rows[i]['comment']
                        let temp_html = `
                            <div class="card">
                                <img class="card-img-top" src=${imgurl} alt="Card image cap">
                                <div class="card-body">
                                    <a href=${linkurl}>${title}</a>
                                    <p class="card-text">${desc}</p>
                                    <p class="comment">${comment}</p>
                                </div>
                            </div>`

                        $('#cards-box').append(temp_html)
                    }
                }
            })
        });
    </script>
    <script>
        //
        function insert(){
            let url = $("#InputUrl").val()
            let comment = $("#comment").val()
            $.ajax({
                type: "POST",
                url: "/memo",
                data: { 'url': url, 'comment': comment },
                success: function (response) {
                    alert(response['msg'])

                }
            })
        }

        //2-5강 내용처럼 onclick함수 넣어서 해보기
        function openclose(){
            let openCheck = jQuery('#post-box').css('display');
            if(openCheck == 'none'){
                jQuery('#post-box').show();
                jQuery('#btn-posting-box').text("포스팅박스 닫기");
            } else {
                jQuery('#post-box').hide();
                jQuery('#btn-posting-box').text("포스팅박스 열기");
            }
        }

    </script>

</head>

<body>
    <div class="wrap_all">
        <div class="jumbotron">
            <h1 class="display-4">나홀로 링크 메모장!</h1>
            <p class="lead">중요한 링크를 저장해두고, 나중에 볼 수 있는 공간입니다.</p>
            <hr class="my-4">
            <p class="lead">
                <a id="btn-posting-box" class="btn btn-primary btn-lg" href="#" role="button" onclick="openclose()">포스팅박스 열기</a>
            </p>
        </div>
        <div id="post-box" class="posting-box">
            <form>
                <div class="form-group">
                    <label for="InputUrl">아티클 URL</label>
                    <input type="url" class="form-control" id="InputUrl" aria-describedby="emailHelp"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="comment">간단 코멘트</label>
                    <textarea class="form-control" id="comment" rows="2"></textarea>
                </div>
                <button onclick="insert()" type="submit" class="btn btn-primary">기사저장</button>
            </form>
        </div>
        <div id="cards-box" class="card-columns">
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="https://naver.com">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>